@model salaoDaLora.Models.Profissional

@{
    ViewData["Title"] = "Excluir Profissional";
}

<h1>@ViewData["Title"]</h1>

<h4>Tem certeza que deseja excluir este profissional?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>

    <dt class="col-sm-2">Especialidade</dt>
    <dd class="col-sm-10">@Model.Especialidade</dd>

</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="ProfissionalId" />
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
