@model salaoDaLora.Models.Profissional

@{
    ViewData["Title"] = "Detalhes do Profissional";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Especialidade</dt>
        <dd class="col-sm-10">@Model.Especialidade</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfissionalId" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
